/*Text*/
.text-center{
    text-align:center;
}
.heading-small{
    font-size:1.25rem;
}
.heding-medium{
    font-size:1.5rem;
}
.heding-big{
    font-size:1.75rem;
}

/*Colors*/
.bg-dark-blue{
    background: #062e51;
}
.bg-light-blue{
    background: #336ea2;
}

/*Buttons*/
.button{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem; /*üst ve alttan 0.8rem, sağ ve soldan 3rem padding verdik*/
    border-radius: 7px;
    letter-spacing: 0.7px;
}

.button-primary{
    background-color: #336ea2;
}

.button-primary:hover{
    color: #336ea2;
    background-color: #fff;
    border: 0.5px solid #336ea2;
}

.button-dark{
    background: #333;
}

.button-dark:hover{
    color: #333;
    background-color: #fff;
    border: 0.5px solid #333;
}

.button-block{
    width: 100%;
    text-align: center;
}
/*Container*/
.container{
    max-width:1100px;
    margin:0 auto; /*geniş ekranda container'ın navbar içinde ortalanmasını sağlar*/
}

/*Forms*/
.form-group{
    padding: 0.25rem 0;
}

.form-group label{
    display: block;
}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none; /*buton'ların yer değiştirmesini engeller*/
    border-radius: 4px;
}
